@using BulletinApp.Shared
@model BoardIndexViewModel

@{
    ViewData["Title"] = "Board Page - Search";
}

<div class="text-center">
    <h1 class="display-4" id="home-page-title">QuadBoard Search Results</h1>  
</div>

<div class="container-fluid mb-3 p-2 rounded" id="search-container">
    <div class="row justify-content-center align-items-center">
            <form asp-action="Search" form-method="GET">
                <div class="row justify-content-center p-1">
                    <div class="col-sm-8 align-content-left mb-1" id="subscript">Enter a term to start a new search</div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-2">
                        <select class="custom-select form-select input-group rounded form-control-md " name="criteria" id="criteria">
                            <option selected>Choose...</option>
                            <option value="keyword">By Keyword</option>
                            <option value="author">By User Name</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control input-group rounded" name="searchString" placeholder="Enter search term" />
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" value="Search" class="btn btn-primary input-group" id="home-page-buttons" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 rounded" id="center-board-area">
            <h3>Promos containing:<i><b>"@ViewData["searchString"]"</b></i></h3>
            <div class="container-fluid">
                <div class="row" id="list-header-row">
                    <div class="col-md-1"><b>ID</b></div>
                    <div class="col-md-1"><b>User ID</b></div>
                    <div class="col-md-1"><b>Date</b></div>
                    <div class="col-md-3"><b>Headline</b></div>
                    <div class="col-md-1"><b>User Name</b></div>
                    <div class="col-md-4"><b>Description</b></div>
                    <div class="col-md-1"><b>Details</b></div>
                </div>
                @foreach(Promo p in @Model.Promos)
                {
                    if (p.Description is null)
                    {
                        p.Description = "NA";
                    }
                    if (p.Description.Length > 33)
                    {
                        p.Description = p.Description.Substring(0, 33) + "...";
                    }
                    <div class="row text-left" id="list-item">
                        <div class="col-md-1 mt-1 overflow-hidden"><a asp-controller="Promo"
                           asp-action="PromoDetail"
                           asp-route-id="@p.PromoId">
                           @p.PromoId.ToString()
                           </a>
                        </div>
                        <div class="col-md-1 mt-1 overflow-hidden">@(p.UserId is null ? "NA" : p.UserId.Value.ToString())</div>
                        <div class="col-md-1 mt-1 overflow-hidden">@p.PostDate.ToShortDateString()</div>
                        <div class="col-md-3 mt-1 overflow-hidden">@(p.Headline is null ? "NA" : p.Headline)</div>
                        <div class="col-md-1 mt-1 overflow-hidden">@(p.ContactName is null ? "NA" : p.ContactName)</div>
                        <div class="col-md-4 mt-1 overflow-hidden">@(p.Description)</div>
                        <div class="col-md-1">
                            <a class="btn btn-xs mt-2 mb-1" id="home-page-buttons" 
                                asp-area="" asp-controller="Promo" asp-action="PromoDetail" asp-route-id="@p.PromoId">View</a>
                        </div>
                     </div>
                }
             </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-md m-2" id="return-buttons" 
        asp-area="" asp-controller="Board" asp-action="Index">Return to Main Board</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
