@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BulletinApp.Shared.Promo

@{
    ViewData["Title"] = "Promo - Delete";
}

<h1>Delete a Promo</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this Promo?</h3>
<p><i>Warning: This action cannot be reversed!</i></p>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoId)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.PromoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headline)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Headline)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PromoId" />
        <input type="submit" value="Delete" class="btn" id="delete-resource-buttons" /> |
        <a asp-controller="Board" asp-action="Index">Return to Current Board</a>
    </form>
</div>
